@use "../../assets/scss/variables" as *;

.side-navbar {
    position: fixed;
    width: 35%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $sidenav-color;
    z-index: 2;
    opacity: 0.7;

    &__white-cross {
        margin: 1.3rem;
        position: absolute;
        right: 0;
        width: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

}

@media screen and (min-width: 768px) {
    .side-navbar {
        width: 25%;

        &__white-cross {
            margin: 2rem 1.6rem;
            width: 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .side-navbar {
        width: 20%;
    }
}