@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Playfair+Display:wght@400;500&display=swap');

* {
    color: $text-color;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $primary-font;
}
