$primary-font: 'Playfair Display', serif;
$brand-font: 'Edu NSW ACT Foundation', cursive;

$background-color: #F8CB2E;
$sidenav-color: #D5D5D5;
$navbar-color: #FFF3E2;
$padding-color: #1B2430;
$text-color: #6C4A4A;