$primary-font: 'Playfair Display', serif;
$brand-font: 'Edu NSW ACT Foundation', cursive;

$background-color: linear-gradient(to right, #0096FF, #72FFFF);
$sidenav-color: #88E0EF;
$text-color: #6C4A4A;
$border-color: #FC5404;
$menu-color: #6166B3;
$card-color: linear-gradient(to right, #A7BBC7, #FAF3F3);