@use "../../assets/scss/variables" as *;

button {
    border: none;
    border-radius: 0.5rem;
    font-family: $brand-font;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3rem 1rem;
    margin: 1rem;

    &:hover {
        cursor: pointer;
    }
}