@use "../../assets/scss/variables" as *;

.button {
    position: relative;
    top: 1.2rem;
    left: 4.3rem;
    margin-bottom: 10rem;
    border: 1px solid $text-color;
    border-radius: 0.3rem;
    padding: 0.2rem;
    width: 35%;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: $brand-font;
    background-color: $brand-color;
    color: #FFF;
    
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &--secondary {
     background-image: $card-color;
     color: $frame-color;
     position: absolute;
     left: 1rem;
     top: 8rem;
    }
}

@media screen and (min-width: 768px) {
    .button {
        top: 1rem;
        left: 6.5rem;
        margin-bottom: 13rem;
        padding: 0.3rem;
        font-size: 1.2rem;

        &--secondary {
            left: 1.2rem;
            top: 11rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .button {    
        top: 1.5rem;
        left: 10rem;
        margin-bottom: 12rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 35%;

        &--secondary {
            left: 1.5rem;
            top: 9.7rem;
        }
    }
}