@use "../../assets/scss/variables" as *;

.card-list {
    padding: 2rem 1.3rem;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .card-list {
        justify-content: center;
        gap: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .card-list {
        padding: 2.3rem 1.2rem;
        gap: 2rem;
    }
}