@use "../../assets/scss/variables" as *;

.card-list {
    padding: 2rem 1rem;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 5.9rem;
    gap: 1.3rem;
}