@use "../../assets/scss/variables" as *;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem;
    background-color: #FFF;
    margin-left: 5rem;
    padding: 1.2rem;
    text-align: center;
    width: 50%;
    height: 17rem;

    &__image {
        display: block;
        width: 26%;
        min-height: 5.5rem;
        max-height: 7rem;
        // float: left;
        margin: 0.4rem 0.3rem;
    }

    &__title {
        font-weight: 700;
        font-size: 0.9rem;
    }

    &__tagline {
        font-style: italic;
        font-weight: 700;
        font-size: 0.7rem;
        margin: 0.5rem 0 0.8rem;
    }

    &__description {
        font-size: 0.7rem;
        font-weight: 500;
        font-family: $brand-font;
    }

}

@media screen and (min-width: 768px) {
    .card {
        width: 40%;
        height: 40rem;
        padding: 1rem;

        &__image {
            width: 20%;
            min-height: 10rem;
            max-height: 22rem;
            margin: 1.5rem 1rem;
        }
    
        &__title {
            font-size: 2rem;
        }
    
        &__tagline {
            font-size: 1.3rem;
            margin: 1.5rem 0;
        }
    
        &__description {
            font-size: 1.3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 30%;
        height: 33rem;
        padding: 1rem;

        &__image {
            width: 20%;
            min-height: 10rem;
            max-height: 22rem;
            margin: 1.5rem 1rem;
        }
    
        &__title {
            font-size: 2rem;
        }
    
        &__tagline {
            font-size: 1.3rem;
            margin: 1.5rem 0;
        }
    
        &__description {
            font-size: 1.3rem;
        }
    }
}