@use "../../assets/scss/variables" as *;

.main {
    text-align: center;
    &__title {
        font-size: 1.5rem;
        margin: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .main {
        &__title {
            font-size: 3rem;
            margin: 3.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        &__title {
            font-size: 2rem;
            margin: 2rem;
        }
    }
}