@use "../../assets/scss/variables" as *;

.search {
    margin: 5rem 0.5rem 0;
    width: 85%;
    height: 1.8rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 700;
    font-family: $brand-font;
    border: none;
    border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
    .search {    
        margin: 8rem 0.6rem 0;
        width: 90%;
        height: 2rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .search {    
        margin: 6.2rem 0.9rem 0;
        width: 90%;
        height: 2rem;
        font-size: 1.8rem;
    }
}