@use "../../assets/scss/variables" as *;

.search {
    margin: 4.5rem 0.5rem 10rem;
    width: 85%;
    height: 1.8rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 700;
    font-family: $brand-font;
    border: none;
    border-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .search {    
        margin: 4.5rem 0.9rem 10rem;
        width: 90%;
        height: 2rem;
    }
}