@use "../../assets/scss/variables" as *;

.search {
    margin: 2rem 0.5rem 10rem;
    width: 85%;
    height: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .search {    
        margin: 3rem 0.9rem 10rem;
        width: 90%;
        height: 2rem;
    }
}