@use "../../assets/scss/variables" as *;

.navbar {
    position: fixed;
    width: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $navbar-color;

    &__content {
        display: grid;
        grid-template-columns: 80% 1fr;
        grid-template-rows: repeat(4, mimax(0, 1fr));
        padding: 0.5rem 0.9rem;
        gap: 1rem 0.5rem;
        font-size: 1.2rem;
        font-weight: 700;

        &__label {
            grid-column: 1 / 2;

            &--vol {
                grid-row: 1 / 2;
            }

            &--range {
                grid-row: 2 / 3;
            }

            &--acidity {
                grid-row: 3 / 4;
            }
        }

        &__checkbox {
            grid-column: 2 / 3;

            &--vol {
                grid-row: 1 / 2;
            }

            &--range {
                grid-row: 2 / 3;
            }

            &--acidity {
                grid-row: 3 / 4;
            }
        }
    }
}